.field-data
  %div First name
  %div Text
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Last name
  %div Text
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Email address
  %div Text
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Profile picture
  %div File
  %div
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Location
  %div Location
  %div
  %div
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Display name
  %div Text
  %div
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div Phone number
  %div Text
  %div
  %div
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
.field-data
  %div About you
  %div Text
  %div
  %div
  .actions
    %span.handle-move.disabled{"aria-hidden" => "true"}
    %span.remove.disabled{"aria-hidden" => "true"}
    %span.edit.disabled{"aria-hidden" => "true"}
