.content-card-header
  %h1.content-card-header-title User fields
.content-card-section-container
  %section.content-card-section
    %h2 Manage existing user fields
    .form-group
      .field-titles.user-fields
        %div Field title
        %div Field type
        %div Sign up
        %div Public
        %div
      #simpleList.list-group.user-fields-data
        .field-data
          %div First name
          %div Text
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Last name
          %div Text
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Email address
          %div Text
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Profile picture
          %div File
          %div
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Location
          %div Location
          %div
          %div
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Display name
          %div Text
          %div
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div Phone number
          %div Text
          %div
          %div
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div About you
          %div Text
          %div
          %div
          .actions
            %span.handle-move.disabled{"aria-hidden" => "true"}
            %span.remove.disabled{"aria-hidden" => "true"}
            %span.edit.disabled{"aria-hidden" => "true"}
        .field-data
          %div A text user field
          %div Text
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move{"aria-hidden" => "true"}
            %span.remove{"aria-hidden" => "true", "data-target" => "#userFieldsDeleteModal", "data-toggle" => "modal"}
            %span.edit{"aria-hidden" => "true", "data-target" => "#userFieldsTextEditModal", "data-toggle" => "modal"}
        .field-data
          %div A number user field
          %div Number
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move{"aria-hidden" => "true"}
            %span.remove{"aria-hidden" => "true", "data-target" => "#userFieldsDeleteModal", "data-toggle" => "modal"}
            %span.edit{"aria-hidden" => "true", "data-target" => "#userFieldsNumberEditModal", "data-toggle" => "modal"}
        .field-data
          %div A dropdown user field
          %div Dropdown
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move{"aria-hidden" => "true"}
            %span.remove{"aria-hidden" => "true", "data-target" => "#userFieldsDeleteModal", "data-toggle" => "modal"}
            %span.edit{"aria-hidden" => "true", "data-target" => "#userFieldsDropdownEditModal", "data-toggle" => "modal"}
        .field-data
          %div A checkbox user field
          %div Checkbox group
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move{"aria-hidden" => "true"}
            %span.remove{"aria-hidden" => "true", "data-target" => "#userFieldsDeleteModal", "data-toggle" => "modal"}
            %span.edit{"aria-hidden" => "true", "data-target" => "#userFieldsCheckboxEditModal", "data-toggle" => "modal"}
        .field-data
          %div A date user field
          %div Date
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          %div
            = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
          .actions
            %span.handle-move{"aria-hidden" => "true"}
            %span.remove{"aria-hidden" => "true", "data-target" => "#userFieldsDeleteModal", "data-toggle" => "modal"}
            %span.edit{"aria-hidden" => "true", "data-target" => "#userFieldsDateEditModal", "data-toggle" => "modal"}
    %p.ingress
      %a{"data-target" => "#userFieldsAddModal", "data-toggle" => "modal", :href => "#"} + Add a new user field
