#reviewDeleteBlock.modal{"aria-hidden" => "true", "aria-labelledby" => "reviewDeleteBlockLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-md{:role => "document"}
    .modal-content
      .modal-header
        %h2#reviewDeleteBlockLabel.modal-title
          = "Delete and block reviews for the transaction for '#{tx.title_listing}'"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      = form_tag admin2_transactions_reviews_manage_review_path(tx), method: :delete do
        .modal-body
          %p Deleting a review allows its author to leave another one for the same transaction. Deleting a review cannot be undone.
          %p Blocking the review prevents its author from leaving another one for the same transaction.

          %h1
            = "Customer review from #{tx.customer_title}"
          .form-group
            .form-check
              = check_box_tag :customer_delete_review, 1, false, disabled: !tx.testimonial_from_starter.present?, class: %i[form-check-input]
              = label_tag :customer_delete_review, "Delete customer review from #{tx.customer_title}", class: %i[form-check-label]
            .form-check
              = check_box_tag :customer_blocked_review, 1, tx.testimonial_from_starter&.blocked?, disabled: !tx.testimonial_from_starter.present?, class: %i[form-check-input]
              = label_tag :customer_blocked_review, "Block future customer review from #{tx.customer_title}", class: %i[form-check-label], disabled: !tx.testimonial_from_starter.present?

          %h1
            = "Provider review from #{tx.provider_title}"
          .form-group
            .form-check
              = check_box_tag :provider_delete_review, 1, false, disabled: !tx.testimonial_from_author.present?, class: %i[form-check-input]
              = label_tag :provider_delete_review, 'Delete provider review from Garth Albert (Big G)', class: %i[form-check-label]
            .form-check
              = check_box_tag :provider_blocked_review, 1, tx.testimonial_from_author&.blocked?, disabled: !tx.testimonial_from_author.present?, class: %i[form-check-input]
              = label_tag :provider_blocked_review, 'Block future provider review from Garth Albert (Big G)', class: %i[form-check-label]

        .modal-footer
          %a.cancel-modal{"data-dismiss" => "modal", :href => "#"} Cancel
          = button_tag 'Save', class: %i[btn btn-primary]
