- provider = tx.testimonial_from_author
- customer = tx.testimonial_from_starter

%tr
  %td
    - listing_title = tx.listing_title || t("admin.communities.transactions.not_available")
    - price = MoneyViewUtils.to_humanized(tx.payment_total)
    = link_to admin_community_transaction_path(id: tx.id, community_id: @current_community) do
      = "#{listing_title} #{price} #{l(tx.created_at, format: :short_date)}"
  %td
    - p = tx.starter
    - if p.deleted
      = ''
    - else
      = link_to PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)
  %td
    - if customer
      - if customer.blocked?
        = t("admin.communities.testimonials.status.blocked")
      - else
        - if tx.starter_skipped_feedback
          = t("admin.communities.testimonials.status.skipped")
        - else
          = customer.positive? ? 'Positive' : 'Negative'
    - elsif tx.starter_skipped_feedback
      = t("admin.communities.testimonials.status.skipped")
    - else
      = t("admin.communities.testimonials.status.waiting")
  %td
    - p = tx.listing_author
    - if p.deleted
      = ''
    - else
      = link_to PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)
  %td
    - if provider
      - if provider.blocked?
        = t("admin.communities.testimonials.status.blocked")
      - else
        - if tx.author_skipped_feedback
          = t("admin.communities.testimonials.status.skipped")
        - else
          = provider.positive? ? 'Positive' : 'Negative'
    - elsif tx.author_skipped_feedback
      = t("admin.communities.testimonials.status.skipped")
    - else
      = t("admin.communities.testimonials.status.waiting")
  %td
    %a{"data-target" => "#reviewRead", "data-toggle" => "modal", :href => "#"} Read review comments
    |
    %a{"data-target" => "#reviewEdit", "data-toggle" => "modal", :href => "#"} Edit
    |
    %a{"data-target" => "#reviewDeleteBlock", "data-toggle" => "modal", :href => "#"} Delete and block
