.form-group
  %label Decimal
  .form-check
    = form.check_box :allow_decimals, class: %i[form-check-input]
    = form.label :allow_decimals, 'Allow decimals', class: %i[form-check-label]

.form-group
  = form.label :min, 'Minimum value allowed'
  = text_field_tag 'custom_field[min]', form.object.min || 0, class: %i[form-control required]

.form-group
  = form.label :max, 'Maximum value allowed'
  = text_field_tag 'custom_field[max]', form.object.max || 9999, class: %i[form-control required]
