- content_for :title do
  = t('admin2.sidebar.listings.manage_listings')

= render 'admin2/listings/manage_listings/filter'

.content-card-section-container{style: 'padding: 0; max-width: none;'}
  .table-responsive
    %table.table.table-hover.listings
      %thead
        %tr
          %th{scope: :col} Listing
          %th{scope: :col} Provider
          %th{scope: :col}= render 'sort_link', column: 'started', direction: sort_link_direction('started'), title: 'Created'
          %th{scope: :col}= render 'sort_link', column: 'updated', direction: sort_link_direction('updated'), title: 'Updated'
          %th{scope: :col} Category
          %th{scope: :col} Status
          %th{scope: :col} Actions
      %tbody
        = render partial: 'listing', collection: @presenter.listings, locals: { presenter: @presenter }

    .table-bottom
      %p= page_entries_info(@presenter.listings, model: 'Listing').html_safe
      = will_paginate @presenter.listings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, next_label: t('admin2.next_step'), previous_label: t('admin2.prev_step'), list_classes: %w[pagination justify-content-end]

= render 'admin2/listings/manage_listings/approve_popup'
